.git
.gitignore
.github
.vscode
.pi
PI
Docs
__pycache__
**/__pycache__
**/*.pyc
**/.pytest_cache
src/.venv
src/.env
src/env.text
src/assets/files/**
src/assets/vector_dbs/**
src/celerybeat-schedule.db
docker/env/.env.*
!docker/env/.env.example.*
