#Redis Environment Variables
REDIS_PASSWORD=your_redis_password

#Presitence
REDIS_APPENDONLY=yes

# Memory Management
REDIS_MAXMEMORY=512mb
REDIS_MAXMEMORY_POLICY=allkeys-lru

#SECURITY
REDIS_PROTECTED_MODE=yes

