# ===== Security =====

NEXTAUTH_URL=http://localhost:3001

NEXTAUTH_SECRET=replace-with-long-secret

SALT=replace-with-random-salt

ENCRYPTION_KEY=replace-with-64-char-hex

# ===== Bootstrap User =====

LANGFUSE_INIT_ORG_ID=sharaf-ai

LANGFUSE_INIT_ORG_NAME=Sharaf AI Lab

LANGFUSE_INIT_PROJECT_ID=rag-app

LANGFUSE_INIT_PROJECT_NAME=RAG Application

LANGFUSE_INIT_USER_EMAIL=your_email@example.com

LANGFUSE_INIT_USER_NAME=Sharaf

LANGFUSE_INIT_USER_PASSWORD=StrongPassword123


# ===== Postgres =====

POSTGRES_USER=postgres

POSTGRES_PASSWORD=postgres

POSTGRES_DB=postgres


# ===== Clickhouse =====

CLICKHOUSE_USER=clickhouse

CLICKHOUSE_PASSWORD=clickhouse


# ===== Redis =====

REDIS_AUTH=myredissecret


# ===== Minio =====

MINIO_ROOT_USER=minio

MINIO_ROOT_PASSWORD=miniosecret