# RabbitMQ configuration 
RABBITMQ_DEFAULT_USER=rag_app_user
RABBITMQ_DEFAULT_PASS=RAG_APP_PWD 
RABBITMQ_DEFAULT_VHOST=Rag_App_VHost


# Managment plugin
RABBITMQ_MANAGEMENT_ENABLED=true


#secuirty
RABBITMQ_AUTH_BACKEND=rabbit_auth_backend_internal

# Performance tuning
RABBITMQ_DISK_FREE_LIMIT=2GB